<h1>User Form</h1>
<form (ngSubmit)="onSubmit()" #myForm="ngForm">

  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input type="text" class="form-control" id="fullName" required [(ngModel)]="user.fullName" name="fullName" #fullName="ngModel">
    <div [hidden]="fullName.valid || fullName.pristine" class="alert alert-danger">
      Full Name is required
    </div>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" required [(ngModel)]="user.email" name="email" #email="ngModel">
    <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
      email is required
    </div>
  </div>
  <div class="form-group" *ngIf="hidepassword">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" required [(ngModel)]="user.password" name="password" #password="ngModel">
    <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
      password is required
    </div>
  </div>

  <div class="form-group">
    <label for="mobile">Mobile</label>
    <input type="text" class="form-control" id="mobile" required [(ngModel)]="user.mobile" name="mobile" #mobile="ngModel">
    <div [hidden]="mobile.valid || mobile.pristine" class="alert alert-danger">
      Mobile is required
    </div>
  </div>

  <div class="form-group">
    <label for="birthdate">Birth Date</label>
    <input type="text" class="form-control" id="birthdate" required [(ngModel)]="user.dob" name="birthdate" #birthdate="ngModel">
    <div [hidden]="birthdate.valid || birthdate.pristine" class="alert alert-danger">
      Mobile is required
    </div>
  </div>

  <div class="form-group">
    <label for="gender">Gender</label>
    <input type="text" class="form-control" id="gender" required [(ngModel)]="user.gender" name="gender" #gender="ngModel">
    <div [hidden]="gender.valid || gender.pristine" class="alert alert-danger">
      Gender is required
    </div>
  </div>



  <button *ngIf="showSave" type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Save</button>
  <button *ngIf="showEdit" type="submit" class="btn btn-success" [disabled]="!myForm.form.valid">Update</button>

</form>
